@model New_Pratice_Project.ViewModel.EmployeeViewModel

@{
    ViewData["Title"] = "Index";
}

<div class=" container " style="width:40%;margin-top:2%">
    <form id="myForm" action="Employees/Index" method="post">
        @Html.DropDownListFor(model => model.DepartmentId, ViewBag.Employees as SelectList, "--select--", new { @class = "form-control mt-2" })

        @Html.TextBoxFor(model => model.Name, new { @class = "form-control mt-2", @placeholder = "Name" })

        @Html.TextBoxFor(model => model.Address, new { @class = "form-control mt-2", @placeholder = "Address" })

        @Html.TextBoxFor(model => model.SiteName, new { @class = "form-control mt-2", @placeholder = "SiteName" })
        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control mt-2", @placeholder = "Phone" })

        <input type="reset" value="Submit" class="btn btn-block btn-primary mt-3" id="btnSubmit" />
        <div style="text-align:center;display:none" id="loaderDiv">
            <img src="~/internetslowdown_day.gif" width="150" />
        </div>
    </form>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#btnSubmit").click(function () {
         
            $("#loaderDiv").show();
            var data = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/Employees/Index",
                data: data,
                success: function (response) {
                    $("#loaderDiv").hide();
                    alert("you are done");
                }

            })
        })


    })


</script>
