@model IEnumerable<Master_Details_JQure.Models.State>
<br />
<br />

<h3 class="text-center bg-info text-white">State List</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>
            <th>Action</th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddorEdit","State",null,Context.Request.Scheme)','New Country')" class="btn  btn-primary"><i class="fa-solid fa-plus"></i> State Country</a>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.CountryName)
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("AddorEdit","State",new{id=item.Id},Context.Request.Scheme)','New Sate')" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i> Edit</a> |
                    <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                        <input type="hidden" asp-route-id="@item.Id" />
                        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>



