@model IEnumerable<First_Jqery_Project.Models.Student>
<p>
    <a onclick="showInPopup('@Url.Action("AddorEdit","Student",null,Context.Request.Scheme)','New Student')" class="btn btn-primary btn-sm">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofBirth)
            </th>

            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateofBirth)
                </td>

                <td>
                    <a onclick="showInPopup('@Url.Action("AddorEdit","Student",new{id=item.Id},Context.Request.Scheme)','Update Student')" class="btn btn-sm btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}


