@model Student_Management.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center my-2 text-success">Student Delete</h1>


<div>
    <dl class="row  p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end ">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)

        </dt>
        <dd class="col-sm-10">
            <label class="form-label">:</label>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            <label class="form-label">:</label>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            <label class="form-label">:</label>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            <label class="form-label">:</label>
            @Html.DisplayFor(model => model.Email)
        </dd>
        
    </dl>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-warning" asp-action="Index">Back to List</a>
    </form>
</div>