@model IEnumerable<Personal_info.Models.Country>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>Action</th>
            <th>
                <a onclick="Cuntrypoup('@Url.Action("AddorEdit","Country",null,Context.Request.Scheme)','New Country')" class="btn btn-sm btn-success">Create Country</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>

                <td>
                    <a onclick="Cuntrypoup('@Url.Action("AddorEdit","Country", new{id=item.Id},Context.Request.Scheme)','Edit Country')"  class="btn btn-sm btn-primary">Edit</a> |
                    <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return CountryDelete(this)" class="d-inline">
                        <input type="hidden" asp-for="@item.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/admin/country/country.js"></script>
