@model IEnumerable<Master_Details_JQure.Models.Purchase>
<br />
<br />


<h3 class="text-center bg-info text-white">Purchase List</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseType)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.LcNumber)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.PoNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>Action</th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddorEdit","Purchase",null,Context.Request.Scheme)','New Purchase')" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Create Purchase </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseType)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.LcNumber)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.PoNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>